@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"); /* Import our variable font Fraunces */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: /*"Playfair Display SC", serif;*/ monospace;
}

body {
  background: #222;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: white;
}
.body {
  color: white;
  font-family: /*"Playfair Display SC", serif;*/ Roboto, sans-serif;
}

.sheet {
  font-family: Fraunces, Serif;
  font-size: 5.5em;
  position: relative;
  right: 28vw;
  bottom: 25vh;
  line-height: 59px;
  white-space: nowrap;
  z-index: -9;
}

.sheet a {
  font-family: Fraunces, Serif;
  font-size: 16px;
  font-style: italic;
  line-height: 14px;
}

.line {
  height: 0.1em;
  width: 800px;
  left: 26vw;
  bottom: 17vh;
  z-index: -900;
  background-color: orange;
  position: absolute;
}

button {
  position: fixed;
  top: 40px;
  left: 40px;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: aqua;
  filter: blur(0px);
  border: solid 2px white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  box-shadow: inset 0px 0px 40px 8px white;
}

button:hover {
  background-color: white;
}

b {
  position: fixed;
  bottom: 55%;
  left: 20%;
  font-size: 27px;
  color: white;
  text-align: center;
}

h3 {
  color: white;
  position: fixed;
  display: grid;
  text-align: left;
  margin-top: -20vh;
  left: 6vw;
  width: 400px;
  height: 200px;
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
  opacity: 1;
}
.ear:hover + h3 {
  opacity: 0;
}

h4 {
  color: white;
  position: absolute;
  text-align: center;
  margin-top: -15%;
  left: -50%;
  width: 400px;
  height: 300px;
  font-size: 14px;
  font-weight: 100;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-left: 50%;
  transform-style: preserve-3d;
}

@-webkit-keyframes bodyrotate {
  from {
    -webkit-transform: rotate(0deg) skew(0) rotateY(0);
  }
  to {
    -webkit-transform: rotate(0deg) skew(0deg) rotateY(360deg);
  }
}

svg {
  -webkit-animation-name: bodyrotate;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  /*filter: drop-shadow(0px 3px 5px rgb(255, 217, 0));*/
  filter: drop-shadow(0px 1px 3px aquamarine);
  width: 70px;
  height: 70px;
  fill: white;
  transform: translate(98%, 35%);
  z-index: 900;
}
.mini {
  z-index: 0;

  border: solid 1px white;
  width: 90px;
  height: 400px;
  position: relative;
  right: 70%;
  transform: translate(-40%, 7%);
  padding: 30px;
}

.minishell {
  z-index: -1;
  border: solid 1px aqua;
  width: 90px;
  height: 400px;
  position: relative;
  right: 79%;
  transform: translate(-40%, 10%);
  padding: 30px;
}

svg.hand {
  position: fixed;
  right: 60%;
  top: -34%;
  box-shadow: 20 0 0 0 #fff, 20 0 0 0 #fff;
  cursor: pointer;
}

svg.handl {
  position: fixed;
  left: 60%;
  top: -20%;
  -webkit-animation-duration: 10s;
  width: 160%;
  height: 160%;
}

svg.brain {
  position: fixed;
  right: 60%;
  top: 2%;
}

svg.brainl {
  position: fixed;
  left: 60%;
  top: 0%;
  -webkit-animation-duration: 10s;
  width: 150%;
  height: 150%;
}

svg.eye {
  position: fixed;
  right: 60%;
  top: 35%;
}
svg.eyel {
  position: fixed;
  left: 60%;
  top: -10%;
  -webkit-animation-duration: 10s;
  width: 150%;
  height: 150%;
}
svg.ear {
  position: fixed;
  right: 60%;
  top: 71%;
  box-shadow: 0 0 0 0 #fff, 0 0 0 0 #fff;
  cursor: pointer;
}

svg.earl {
  position: fixed;
  left: 60%;
  top: -20%;
  -webkit-animation-duration: 10s;
  width: 150%;
  height: 150%;
}

svg.mouth {
  position: fixed;
  right: 60%;
  top: 107%;
}
svg.mouthl {
  position: fixed;
  left: 60%;
  top: -20%;
  -webkit-animation-duration: 10s;
  width: 160%;
  height: 160%;
}

#Blob {
  transition: opacity 1s ease-in-out;
  transform: translateY(15%);
  opacity: 1;
  width: 200px;
  height: 200px;
  position: absolute;
  position: fixed;
  top: 20.5vh;
  left: 60vw;
  font-size: 20px;
  z-index: 300;
  right: 0;
  box-shadow: inset 0px 0px 40px 8px aquamarine;

  transform: translateZ(-5px);
  background: linear-gradient(
    120deg,
    #ff1744,
    #e040fb,
    #2979ff,
    #ff7b00,
    #76ff03
  );
  background-size: 1600% 1600%;

  mix-blend-mode: difference;
  pointer-events: none;
  z-index: 1;
  transition: 0.15s linear;
  border-radius: 50%;
  animation: blobBackground 15s ease infinite;
}
#Blob:before {
  position: absolute;
  content: "";
  border: 1px solid black;
  filter: blur(2px);
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  border-radius: 50%;
  animation: animate 2s linear infinite;
}
#Blob:after {
  position: absolute;
  content: "";
  border: 2px solid aquamarine;
  filter: blur(2px);

  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  border-radius: 50%;
  animation: animate 2s 1s linear infinite;
}

#Blob.hideMe {
  opacity: 0;
}

#Bloby {
  transition: opacity 1s ease-in-out;
  transform: translateY(15%);
  opacity: 1;
  width: 200px;
  height: 200px;
  position: absolute;
  position: fixed;
  top: 18.5vh;
  left: 60vw;
  font-size: 20px;
  z-index: 300;

  right: 0;
  box-shadow: inset 0px 0px 40px 8px aquamarine;

  transform: translateZ(-5px);
  background: linear-gradient(
    120deg,
    #ff1744,
    #e040fb,
    #2979ff,
    #ff7b00,
    #76ff03
  );
  background-size: 1600% 1600%;

  mix-blend-mode: difference;
  pointer-events: none;
  z-index: 1;
  transition: 0.15s linear;
  border-radius: 50%;
  animation: blobBackground 15s ease infinite;
}
#Bloby:before {
  position: absolute;
  content: "";
  border: 1px solid black;
  filter: blur(2px);
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  border-radius: 50%;
  animation: animate 2s linear infinite;
}
#Bloby:after {
  position: absolute;
  content: "";
  border: 2px solid aquamarine;
  filter: blur(2px);

  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  border-radius: 50%;
  animation: animate 2s 1s linear infinite;
}

#Blobq {
  transition: opacity 1s ease-in-out;
  transform: translateY(15%);
  opacity: 1;
  width: 200px;
  height: 200px;
  position: absolute;
  position: fixed;
  top: 18.5vh;
  left: 60vw;
  font-size: 20px;
  font-weight: 700;
  z-index: 300;

  right: 0;
  box-shadow: inset 0px 0px 40px 8px aquamarine;

  transform: translateZ(-5px);
  background: linear-gradient(
    120deg,
    #ff1744,
    #e040fb,
    #2979ff,
    #ff7b00,
    #76ff03
  );
  background-size: 1600% 1600%;

  mix-blend-mode: difference;
  pointer-events: none;
  z-index: 1;
  transition: 0.15s linear;
  border-radius: 50%;
  animation: blobBackground 15s ease infinite;
}
#Blobq:before {
  position: absolute;
  content: "";
  border: 1px solid black;
  filter: blur(2px);
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  border-radius: 50%;
  animation: animate 2s linear infinite;
}
#Blobq:after {
  position: absolute;
  content: "";
  border: 2px solid aquamarine;
  filter: blur(2px);

  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  border-radius: 50%;
  animation: animate 2s 1s linear infinite;
}

#Blobw {
  transition: opacity 1s ease-in-out;
  transform: translateY(15%);
  opacity: 1;
  width: 200px;
  height: 200px;
  position: absolute;
  position: fixed;
  top: 18.5vh;
  left: 60vw;
  font-size: 20px;
  font-weight: 700;
  z-index: 300;

  right: 0;
  box-shadow: inset 0px 0px 40px 8px aquamarine;

  transform: translateZ(-5px);
  background: linear-gradient(
    120deg,
    #ff1744,
    #e040fb,
    #2979ff,
    #ff7b00,
    #76ff03
  );
  background-size: 1600% 1600%;

  mix-blend-mode: difference;
  pointer-events: none;
  z-index: 1;
  transition: 0.15s linear;
  border-radius: 50%;
  animation: blobBackground 15s ease infinite;
}
#Blobw:before {
  position: absolute;
  content: "";
  border: 1px solid black;
  filter: blur(2px);
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  border-radius: 50%;
  animation: animate 2s linear infinite;
}
#Blobw:after {
  position: absolute;
  content: "";
  border: 2px solid aquamarine;
  filter: blur(2px);

  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  border-radius: 50%;
  animation: animate 2s 1s linear infinite;
}

#Blobr {
  transition: opacity 1s ease-in-out;
  transform: translateY(15%);
  opacity: 1;
  width: 200px;
  height: 200px;
  position: absolute;
  position: fixed;
  top: 18.5vh;
  left: 60vw;
  font-size: 20px;
  font-weight: 700;
  z-index: 300;

  right: 0;
  box-shadow: inset 0px 0px 40px 8px aquamarine;

  transform: translateZ(-5px);
  background: linear-gradient(
    120deg,
    #ff1744,
    #e040fb,
    #2979ff,
    #ff7b00,
    #76ff03
  );
  background-size: 1600% 1600%;

  mix-blend-mode: difference;
  pointer-events: none;
  z-index: 1;
  transition: 0.15s linear;
  border-radius: 50%;
  animation: blobBackground 15s ease infinite;
}
#Blobr:before {
  position: absolute;
  content: "";
  border: 1px solid black;
  filter: blur(2px);
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  border-radius: 50%;
  animation: animate 2s linear infinite;
}
#Blobr:after {
  position: absolute;
  content: "";
  border: 2px solid aquamarine;
  filter: blur(2px);

  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  border-radius: 50%;
  animation: animate 2s 1s linear infinite;
}

#Blobr.hideMe {
  opacity: 0;
}

#BlobE {
  transform: translate(9999px);
  z-index: 1;
  opacity: 0;
  width: 200px;
  height: 200px;
  position: absolute;
  position: fixed;
  bottom: 9vh;
  font-size: 20px;
  font-weight: 700;
  left: 55vw;
  bottom: 16vh;
  right: 0;
  box-shadow: inset 0px 0px 40px 8px aquamarine;
  margin: 0 auto;
  transform: translateZ(-5px);
  background: linear-gradient(
    120deg,
    #ff1744,
    #e040fb,
    #2979ff,
    #ff7b00,
    #76ff03
  );
  z-index: 300;

  background-size: 1600% 1600%;
  position: absolute;
  mix-blend-mode: difference;
  pointer-events: none;
  z-index: 1;
  transition: 0.15s linear;
  border-radius: 50%;
  animation: blobBackground 15s ease infinite;
}
#BlobE:before {
  position: absolute;
  content: "";
  border: 1px solid black;
  filter: blur(2px);
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  border-radius: 50%;
  animation: animate 2s linear infinite;
}
#BlobE:after {
  position: absolute;
  content: "";
  border: 2px solid aquamarine;
  filter: blur(2px);

  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  border-radius: 50%;
  animation: animate 2s 1s linear infinite;
}

#BlobE.showMe {
  transition: opacity 1s ease-in-out;
  transform: translateY(15%);
  opacity: 1;
}

#BlobB {
  transform: translate(9999px);
  z-index: 1;
  opacity: 0;
  width: 200px;
  height: 200px;
  z-index: 300;

  position: absolute;
  position: fixed;
  font-family: Georgia, "Times New Roman", Times, serif;
  bottom: 9vh;
  font-size: 20px;
  font-weight: 700;
  left: 55vw;
  bottom: 16vh;
  right: 0;
  box-shadow: inset 0px 0px 40px 8px aquamarine;
  margin: 0 auto;
  transform: translateZ(-5px);
  background: linear-gradient(
    120deg,
    #ff1744,
    #e040fb,
    #ff7b00,
    #18ff03,
    #2979ff
  );
  background-size: 1600% 1600%;
  position: absolute;
  mix-blend-mode: difference;
  pointer-events: none;
  z-index: 1;
  transition: 0.15s linear;
  border-radius: 50%;
  animation: blobBackground 15s ease infinite;
}
#BlobB:before {
  position: absolute;
  content: "";
  border: 1px solid black;
  filter: blur(2px);
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  border-radius: 50%;
  animation: animate 2s linear infinite;
}
#BlobB:after {
  position: absolute;
  content: "";
  border: 2px solid aquamarine;
  filter: blur(2px);

  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  border-radius: 50%;
  animation: animate 2s 1s linear infinite;
}

#BlobB.showMe {
  transition: opacity 1s ease-in-out;
  transform: translateY(15%);
  opacity: 1;
}
#BlobI {
  transform: translate(9999px);
  z-index: 1;
  opacity: 0;
  width: 200px;
  height: 200px;
  position: absolute;
  position: fixed;
  font-family: Georgia, "Times New Roman", Times, serif;
  bottom: 9vh;
  font-size: 20px;
  font-weight: 700;
  left: 55vw;
  bottom: 16vh;
  z-index: 300;

  right: 0;
  box-shadow: inset 0px 0px 40px 8px aquamarine;
  margin: 0 auto;
  transform: translateZ(-5px);
  background: linear-gradient(
    120deg,
    #2979ff,
    #e040fb,
    #ff7b00,
    #ff1744,
    #76ff03
  );
  background-size: 1600% 1600%;
  position: absolute;
  mix-blend-mode: difference;
  pointer-events: none;
  z-index: 1;
  transition: 0.15s linear;
  border-radius: 50%;
  animation: blobBackground 15s ease infinite;
}
#BlobI:before {
  position: absolute;
  content: "";
  border: 1px solid black;
  filter: blur(2px);
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  border-radius: 50%;
  animation: animate 2s linear infinite;
}
#BlobI:after {
  position: absolute;
  content: "";
  border: 2px solid aquamarine;
  filter: blur(2px);

  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  border-radius: 50%;
  animation: animate 2s 1s linear infinite;
}

#BlobI.showMe {
  transition: opacity 1s ease-in-out;
  transform: translateY(15%);
  opacity: 1;
}
#BlobM {
  transform: translate(9999px);
  z-index: 1;
  opacity: 0;
  width: 200px;
  height: 200px;
  position: absolute;
  position: fixed;
  font-family: Georgia, "Times New Roman", Times, serif;
  bottom: 9vh;
  font-size: 20px;
  font-weight: 700;
  left: 55vw;
  z-index: 300;

  bottom: 16vh;
  right: 0;
  box-shadow: inset 0px 0px 40px 8px aquamarine;
  margin: 0 auto;
  transform: translateZ(-5px);
  background: linear-gradient(
    120deg,
    #2979ff,
    #ff1744,
    #ff7b00,
    #e040fb,
    #76ff03
  );
  background-size: 1600% 1600%;
  position: absolute;
  mix-blend-mode: difference;
  pointer-events: none;
  z-index: 1;
  transition: 0.15s linear;
  border-radius: 50%;
  animation: blobBackground 15s ease infinite;
}
#BlobM:before {
  position: absolute;
  content: "";
  border: 1px solid black;
  filter: blur(2px);
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  border-radius: 50%;
  z-index: 300;

  animation: animate 2s linear infinite;
}

#BlobM:after {
  position: absolute;
  content: "";
  border: 2px solid aquamarine;
  filter: blur(2px);

  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  border-radius: 50%;
  animation: animate 2s 1s linear infinite;
}

#BlobM.showMe {
  transition: opacity 1s ease-in-out;
  transform: translateY(15%);
  opacity: 1;
}
#BlobH {
  transform: translate(9999px);
  z-index: 1;
  opacity: 0;
  width: 200px;
  height: 200px;
  position: absolute;
  position: fixed;
  font-family: Georgia, "Times New Roman", Times, serif;
  bottom: 9vh;
  font-size: 20px;
  font-weight: 700;
  left: 55vw;
  bottom: 16vh;
  z-index: 300;

  right: 0;
  box-shadow: inset 0px 0px 40px 8px aquamarine;
  margin: 0 auto;
  transform: translateZ(-5px);
  background: linear-gradient(
    120deg,
    #ff1744,
    #e040fb,
    #2979ff,
    #ff7b00,
    #76ff03
  );
  background-size: 1600% 1600%;
  position: absolute;
  mix-blend-mode: difference;
  pointer-events: none;
  z-index: 1;
  transition: 0.15s linear;
  border-radius: 50%;
  z-index: 300;

  animation: blobBackground 15s ease infinite;
}
#BlobH:before {
  position: absolute;
  content: "";
  border: 1px solid black;
  filter: blur(2px);
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  border-radius: 50%;
  animation: animate 2s linear infinite;
}
#BlobH:after {
  position: absolute;
  content: "";
  border: 2px solid aquamarine;
  filter: blur(2px);

  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  border-radius: 50%;
  animation: animate 2s 1s linear infinite;
}

#BlobH.showMe {
  transition: opacity 1s ease-in-out;
  transform: translateY(15%);
  opacity: 1;
}

.ear:hover {
  fill: aqua;
}
.ear:active {
  fill: aqua;
}
.ear:visited {
  fill: aqua;
}
.ear:hover + #BlobE {
  transition: opacity 1s ease-in-out;
  transform: translateY(15%);
  opacity: 1;
}

.brain:hover {
  fill: aqua;
}
.brain:hover + #BlobB {
  transition: opacity 1s ease-in-out;
  transform: translateY(15%);
  opacity: 1;
}

.eye:hover {
  fill: aqua;
}
.eye:hover + #BlobI {
  transition: opacity 1s ease-in-out;
  transform: translateY(15%);
  opacity: 1;
}

.mouth:hover {
  fill: aqua;
}
.mouth:hover + #BlobM {
  transition: opacity 1s ease-in-out;
  transform: translateY(15%);
  opacity: 1;
}
.hand:hover {
  fill: aqua;
}

.hand:hover + #BlobH {
  transition: opacity 1s ease-in-out;
  transform: translateY(15%);
  opacity: 1;
}

.sun {
  position: absolute;
  display: block;
  color: white;
  top: 50vh;
  left: 10vw;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  border-radius: 100%;

  /*box-shadow: inset 0 0 20px rgba(0, 0, 0, 1), 0 0 50px rgb(255, 217, 0);*/
}

.circle {
  transform-style: preserve-3d;
  animation: animateText 10s linear infinite;
  margin-right: 0vw;
}

.circle span {
  position: absolute;
  bottom: 22vh;
  left: 0;
  background: white;
  color: white;
  font-size: 2.4em;
  transform-origin: center;
  transform-style: preserve-3d;
  padding: 10px 11px;
  transform: rotateY(calc(var(--i) * calc(360deg / 25))) translateZ(150px);
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.circle span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  transform: translateZ(-5px);
  z-index: -1;
}

.circleTwo {
  transform-style: preserve-3d;
  animation: animateText 8s linear infinite;
  z-index: -1;
  margin-right: 30vw;
}

.circleTwo span {
  position: absolute;
  left: 50vw;
  top: 50px;
  bottom: 30px;
  left: 0;
  background: white;
  z-index: -1;
  color: white;
  font-size: 1em;
  transform-origin: center;
  transform-style: preserve-3d;
  padding: 75px 11px;
  transform: rotateY(calc(var(--i) * calc(360deg / 36))) translateZ(150px);
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.circleTwo span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  transform: translateZ(-5px);
  z-index: -1;
}
@keyframes animateText {
  0% {
    transform: perspective(1000px) rotateY(360deg) rotateX(15deg)
      translateY(-30px);
  }
  100% {
    transform: perspective(1000px) rotateY(0deg) rotateX(15deg)
      translateY(-30px);
  }
}

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: #212121;
}
.nav {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.nav__link {
  color: #fff;
  list-style: none;
  cursor: pointer;
  font-size: 10vw;
  font-family: "Montserrat", sans-serif;
  transition: 1s ease-in;
}

.nav:not(:last-child) {
  margin-bottom: 50px;
}

.nav:hover {
  transform: translateX(25px);
}

.popover {
  display: none;
  box-shadow: 0px 6px 8px rgba(19, 19, 19, 0.7);
}

.popover:target {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -200;
}

.popover .content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 0;
  height: 0;
  color: #fff;
  background-color: none;
  animation: 0.5s grow ease forwards;
  text-align: left;
}

.stuff_list {
  list-style-type: none;
  position: fixed;
  transform: translate(0%, 30%);
  left: 23%;
  bottom: 35%;
  line-height: 3;
}
.stuff_list::after {
  border-style: none none double;
}
.stuff_list a {
  text-decoration: none;
  font-size: 15px;
  color: #fff;
}

.stuff_list_item {
  height: 100%;
  overflow: hidden;
}

.stuff_list li {
  padding: 15px 0;
  text-transform: uppercase;
  transform: translateY(200px);
  opacity: 1;
  animation: 0.7s slideUp ease forwards 0.5s;
  position: relative;
}

.stuff_list a:hover {
  color: aqua;
  font-size: 16px;
}

.stuff_list li::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 0px;
  left: 0;
  bottom: 10px;
  background-color: orange;
  box-shadow: inset 0px 0px 40px 8px rgb(255, 255, 255);
  transition: all 0s ease;
}

.stuff_list li:hover:before {
  position: absolute;
}

.popover p {
  padding: 50px;
  opacity: 0;
  animation: 0s fadeIn ease forwards 1s;
  z-index: -200;
}
.about {
  right: 20px;
  transform: translate(-48%, 0%);
  top: 8%;
  width: 96px;
  height: 50px;
  display: flex;
  z-index: 100;
  font-size: 10px;
  align-items: center;
  justify-content: center;
  border: solid 1px white;
  border-radius: 0px;
  color: rgb(255, 255, 255);
  background: #222;
  content: "ABOUT";
  text-decoration: none;
  cursor: pointer;
  font-size: 1.3em;
  font-family: monospace;
  position: fixed;
}
.abouty {
  right: 27px;
  transform: translate(-48%, 0%);
  top: 9.3%;
  width: 96px;
  height: 50px;
  display: flex;
  z-index: -1;
  font-size: 10px;
  align-items: center;
  justify-content: center;
  border: solid 1px aqua;
  position: fixed;
}

.about:hover {
  background: rgb(255, 255, 255);
  color: #222;
  box-shadow: px px px rgb(0, 0, 0);
}

@keyframes grow {
  100% {
    height: 90vh;
    width: 95vw;
  }
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

@keyframes slideUp {
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
