body {
  overflow-x: hidden;
  background: rgb(25, 28, 37);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: white;
}

.article-red {
  color: #75b5b0;
}

.bg-article-red {
  background-color: #ff4a46;
}

.container {
  padding-right: 100px;
  padding-left: 100px;
}

.f8 {
  font-size: 0.65rem;
}
.lh-hi {
  line-height: 2em;
}

button {
  position: absolute;
  top: 25px;
  left: 25px;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: orange;
  filter: blur(3px);
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  z-index: 100;
  cursor: pointer;
  box-shadow: inset 0px 0px 40px 8px orange;
}

svg.earReal {
  position: absolute;
  display: inline-block;
  color: white;
  top: 20vh;
  left: 40vw;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
  object-fit: contain;

  border-radius: 50%;
  filter: drop-shadow(0px 1px 3px aquamarine);
  fill: white;
  box-shadow: 0 0 0 0 #fff, 0 0 0 0 #fff;
  cursor: pointer;
}

@import url("https://fonts.googleapis.com/css?family=Montserrat:900");
#cursorBlob {
  width: 30px;
  height: 30px;
  background: linear-gradient(
    120deg,
    #ff1744,
    #e040fb,
    #2979ff,
    #ff7b00,
    #76ff03
  );
  filter: blur(5px);
  background-size: 1600% 1600%;
  position: absolute;
  mix-blend-mode: difference;
  pointer-events: none;
  z-index: 1;
  transition: 0.15s linear;
  border-radius: 50%;
  animation: blobBackground 15s ease infinite;
}
#cursorBlob:before {
  position: absolute;
  content: "";
  border: 1px solid white;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  border-radius: 50%;
  animation: animate 1s linear infinite;
}
#cursorBlob:after {
  position: absolute;
  content: "";
  border: 2px solid white;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  border-radius: 50%;
  animation: animate 2s 1s linear infinite;
}
@keyframes animate {
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}
@keyframes blobRadius {
  0%,
  100% {
    border-radius: 43% 77% 80% 40% / 40% 40% 80% 80%;
  }
  20% {
    border-radius: 47% 73% 61% 59% / 47% 75% 45% 73%;
  }
  40% {
    border-radius: 46% 74% 74% 46% / 74% 58% 62% 46%;
  }
  60% {
    border-radius: 47% 73% 61% 59% / 40% 40% 80% 80%;
  }
  80% {
    border-radius: 50% 70% 52% 68% / 51% 61% 59% 69%;
  }
}
@keyframes blobBackground {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: #212121;
}
.nav {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.nav__link {
  color: #fff;
  list-style: none;
  cursor: pointer;
  font-size: 10vw;
  font-family: "Montserrat", sans-serif;
  transition: 1s ease-in;
}

.nav:not(:last-child) {
  margin-bottom: 50px;
}

.nav:hover {
  transform: translateX(25px);
}

@media (min-width: 500px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 0.75rem;
    /*row length vertical */
    grid-auto-rows: 92px;
    max-width: 900px;
    margin: 80px auto;
    border-top: 1px solid rgb(255, 255, 255);
  }

  .folio-1 {
    grid-column-start: 1;
    grid-column-end: 2;
    border-right: 1px solid rgb(255, 255, 255);
  }

  .folio-2 {
    grid-column-start: 4;
    grid-column-end: 2;
    grid-row-start: 1;

    border-right: 1px solid rgb(255, 255, 255);
  }

  .folio-3 {
    grid-column-start: 7;
    grid-column-end: 4;

    border-right: 1px solid rgb(255, 255, 255);
  }

  .folio-4 {
    grid-column: span 3;
  }
  .folio-5 {
    grid-column-start: 12;
    grid-column-end: 7;
    grid-row-start: 1;
  }
  .folio-6 {
    grid-column-start: 13;
    grid-column-end: 7;
    grid-row-start: 3;
  }

  /*
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 0.75rem;
  
    grid-auto-rows: 75px;
    max-width: 1000px;
    margin: 80px auto;
    border-top: 1px solid rgb(255, 255, 255);
  }

  .folio-1 {
    grid-column-start: 1;
    grid-column-end: 2;
    border-right: 1px solid rgb(255, 255, 255);
  }

  .folio-2 {
    grid-column-start: 7;
    grid-column-end: 2;
    border-right: 1px solid rgb(255, 255, 255);
  }

  .folio-3 {
    grid-column-start: 12;
    grid-column-end: 6;
    border-right: 1px solid rgb(255, 255, 255);
  }

  .folio-4 {
    grid-column-start: 1;
    grid-column-end: 2;
    border-right: 1px solid rgb(255, 255, 255);
  }
  /*


  /* Please â¤ this if you like it! */

  /* ========================================= * 
		        BEST VIEWED FULLSCREEN
   https://codepen.io/ig_design/full/NWxwBvw
 * ========================================= */

  a {
    cursor: pointer;
  }
  a:hover {
    text-decoration: none;
  }

  .section {
    position: relative;
    width: 100%;
    display: block;
  }
  .full-height {
    min-height: 100vh;
  }
  .over-hide {
    overflow: hidden;
  }
  .padding-tb {
    padding: 100px 0;
  }
  [type="radio"]:checked,
  [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
  }
  .checkbox:checked + label,
  .checkbox:not(:checked) + label {
    position: relative;

    width: 100%;
    left: 25vw;
    cursor: pointer;
    text-align: center;
    margin-right: 20px;
    margin-left: 6px;
    display: inline-block;
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    background-image: url("../images/eye.svg");
    background-color: #75b5b0;
    box-shadow: 0 3px 10px 0 #75b5b0;

    animation: border-transform 6s linear infinite alternate forwards;
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    animation-play-state: paused;
  }
  .checkbox.scnd + label {
    background-image: url("../images/ear.svg");
  }
  .checkbox.thrd + label {
    background-image: url("../images/hand.svg");
  }

  .checkbox.foth + label {
    background-image: url("../images/brain.svg");
  }

  .checkbox:checked + label {
    transform: scale(1.3);
    background-color: rgb(217, 151, 45);
    -webkit-animation-play-state: running;
    -moz-animation-play-state: running;
    animation-play-state: running;
  }
  @keyframes border-transform {
    0%,
    100% {
      border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
    }
    14% {
      border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
    }
    28% {
      border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
    }
    42% {
      border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
    }
    56% {
      border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
    }
    70% {
      border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
    }
    84% {
      border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
    }
  }

  .slider-height-padding {
    padding-top: 460px;
  }

  ul {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    z-index: 100;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  ul li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    z-index: 100;
    padding: 0;
    margin: 0;
    list-style: none;
    height: 400px;
    border: none;
    background-size: cover;
    background-position: center;
    background-image: url("../images/bus stop.png");
    border-radius: 50%;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 2.7;
    color: #ffffff;
    writing-mode: vertical-rl;
    opacity: 0;
    pointer-events: none;
    box-shadow: 0 8px 25px 0 rgba(255, 255, 255, 0.1);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  ul li span {
    mix-blend-mode: difference;
  }
  ul li:nth-child(2) {
    background-image: url("../images/stopdetails.png");
  }
  ul li:nth-child(3) {
    background-image: url("../images/bus stop.gif");
  }
  ul li:nth-child(4) {
    background-image: url("../images/idea.png");
  }

  .checkbox.frst:checked ~ ul li:nth-child(1) {
    opacity: 1;
    pointer-events: auto;
    border-radius: 16px;
  }
  .checkbox.scnd:checked ~ ul li:nth-child(2) {
    opacity: 1;
    pointer-events: auto;
    border-radius: 16px;
  }
  .checkbox.thrd:checked ~ ul li:nth-child(3) {
    opacity: 1;
    pointer-events: auto;
    border-radius: 16px;
  }
  .checkbox.foth:checked ~ ul li:nth-child(4) {
    opacity: 1;
    pointer-events: auto;
    border-radius: 16px;
  }

  @media (max-width: 767px) {
    .slider-height-padding {
      padding-top: 340px;
    }
    ul li {
      height: 300px;
      font-size: 13px;
      letter-spacing: 1px;
    }
  }

  @media (max-width: 575px) {
    .slider-height-padding {
      padding-top: 240px;
    }

    ul li {
      height: 200px;
    }
  }
}

.in-brief {
  text-align: center;
  margin: 0 5rem 5rem 5rem;
}
.in-brief h3 {
  text-align: center;
  border-left: 1px solid rgb(255, 255, 255);
  border-right: 1px solid rgb(255, 255, 255);
  display: inline-block;
  padding: 0 30px;
  color: rgb(255, 255, 255);
  letter-spacing: 0.2rem;
  font-size: 80%;
  margin: 0;
  position: relative;
  top: 0px;
  height: 30px;
}
.in-brief-content {
  columns: 3;
  column-gap: 30px;
  grid-auto-rows: auto;
  font-size: 0.8rem;
  text-align: left;
  border: 1px solid #ccc;
  padding: 60px;
}

.tree {
  display: flex;
  flex-direction: row;
  padding: 5%;
  justify-content: center;
}
.hi {
  border: 1px solid rgb(255, 226, 226);
  color: #ccc;
  border-radius: 8px;
  padding: 8px 20px;
  display: flex;
  margin: 20px;
  align-items: center;
  position: relative;
  justify-content: center;
  line-height: 1.2;
}
.p,
.np {
  display: flex;
  align-content: center;
}
.first,
.second,
.third {
  display: flex;
  flex-direction: column;
}
.hi:before {
  content: "";
  width: 40px;
  height: 1px;
  background-color: rgb(255, 229, 229);
  position: absolute;
  left: -41px;
  top: 0;
  bottom: 0;
  margin: auto;
  box-sizing: border-box;
}
.first > .p > .hi:before {
  display: none;
}
.hi {
  min-width: 200px;
  max-width: 200px;
}
.hi:hover {
  background: #222;
}
.hi:hover + .second .hi {
  background: #222;
}
.hi:hover + .third .hi {
  background: #222;
}
.about {
  left: 0.2%;
  top: 42%;
  width: 80px;
  height: 50px;
  display: flex;
  z-index: 100;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  justify-content: center;
  border: solid 1px white;
  border-radius: 15%;
  color: rgb(255, 255, 255);
  content: "ABOUT";
  text-decoration: none;
  cursor: pointer;
  font-size: 1.3em;
  font-family: monospace;
  position: fixed;
}

.about:hover {
  transform: scale(1.1);
  filter: blur(1px);
  box-shadow: 3px 6px 8px rgb(0, 0, 0);
}
